extends layout

block includes
  include globals
  include buttons/mixins-bootstrap
  include layout/mixins-bootstrap

block header
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/css/bootstrap.min.css" crossorigin="anonymous">
