doctype html
block includes

html(lang="en" prefix="og: http://ogp.me/ns#")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ui-compatible" content="ie=edge")
    title: block library
    meta(name="description" content="Coco")
    meta(name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0")
    link(rel="stylesheet" type="text/css" href="/index.css")
    block header
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/themes/prism.css")
    link(rel="stylesheet" href="./style.css")
    style(type="text/css").
      pre code .tag, pre code .number {
        display: inline;
        padding: inherit;
        font-size: inherit;
        line-height: inherit;
        text-align: inherit;
        vertical-align: inherit;
        border-radius: inherit;
        font-weight: inherit;
        white-space: inherit;
        background: inherit;
        margin: inherit;
      }      
  body
    +m-container#app
      header
        +m-title-1: block library
      section
        +m-title-2#buttons Buttons
        include buttons/index
      section 
        +m-title-2#layout Layout
        include layout/index
      section
        +m-title-2#forms Forms
        include forms/index        
    script(src="http://localhost:35729/livereload.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/prism.js")
    script(src="https://cdn.rawgit.com/wspringer/prism/135a74b1bb4ca67db7a3b12524d6a3c5f361e87d/components/prism-pug.js")
    script(src="https://cdn.rawgit.com/PrismJS/prism/b520e1b6/components/prism-markup.min.js")
    script(src="//cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.8.3-rc3/beautify-html.js")
    script(src="./viewer.js")
