mixin m-container
  .container&attributes(attributes): block

mixin m-title-1
  h1&attributes(attributes): block  

mixin m-title-2
  h2&attributes(attributes): block  

mixin m-title-3
  h3&attributes(attributes): block  

mixin m-title-4
  h4&attributes(attributes): block  

mixin m-title-5
  h5&attributes(attributes): block  

mixin m-title-6
  h6&attributes(attributes): block  
