mixin m-container
  .container&attributes(attributes): block

mixin m-title-1
  h1.title.is-1&attributes(attributes): block  

mixin m-title-2
  h2.title.is-2&attributes(attributes): block  

mixin m-title-3
  h3.title.is-3&attributes(attributes): block  

mixin m-title-4
  h4.title.is-4&attributes(attributes): block  

mixin m-title-5
  h5.title.is-5&attributes(attributes): block  

mixin m-title-6
  h6.title-is6&attributes(attributes): block  
