mixin m-tabs(links, tab = 'a', tabAttrs = {}, tabContainerAttrs = {})
  ul.nav.nav-tabs
    for link in links
      li.nav-item&attributes(tabContainerAttrs)
        - 
          attrs = Object.assign({}, link);
          delete attrs.label;
          Object.assign(attrs, tabAttrs);
        #{tab}.nav-link&attributes(attrs)= link.label

mixin m-tabs-nuxt-link(links, tabAttrs, tabContainerAttrs)
  +m-tabs(links, 'nuxt-link', Object.assign({}, { 'active-class': 'active' }), tabContainerAttrs)