extends ../component

block body
  :markdown
    There are currently four different form-based mixins. All of them accept an additional attribute called `m-label`, which is the label that should be associated to the component.
  include:prismjs(language="pug") ./sample.pug    
  viewer
    include ./sample.pug

