form
  +m-input#name(m-label="Name" type="text")
  +m-input#password(m-label="Password" type="password" placeholder="Password")
  +m-textarea#message(m-label="Message")
  +m-select(m-label="Subject")
    option Select dropdown
    option With options
  +m-checkbox#agreed(m-label="I agree")    
      
