mixin card
  .card&attributes(attributes): block

mixin card-image(src, alt)
  img.card-img-top(src=src, alt=alt)&attributes(attributes)

mixin card-content
  .card-body&attributes(attributes): block

mixin card-title
  h5.card-title&attributes(attributes): block  

mixin card-subtitle
  h6.card-subtitle.text-muted&attributes(attributes): block  

mixin card-text
  .card-text&attributes(attributes): block


