mixin m-card
  .card&attributes(attributes): block

mixin m-card-image(src, alt)
  img.card-img-top(src=src, alt=alt)&attributes(attributes)

mixin m-card-content
  .card-body&attributes(attributes): block

mixin m-card-title
  h5.card-title&attributes(attributes): block  

mixin m-card-subtitle
  h6.card-subtitle.text-muted&attributes(attributes): block  

mixin m-card-text
  .card-text&attributes(attributes): block


