+m-card(style="width: 300px")
  +m-card-image("https://www.animationpagoda.com/wp-content/uploads/2017/01/el_mac_and_retna.jpg")
  +m-card-content
    +m-card-text 
      | Wondering if this is any good