extends ../component

block body
  :markdown
    Buttons come in a couple of different flavors. Use `+m-button` to generate `<button/>`, or `+m-button-a` to generate a button based on an anchor tag (`<a/>`). By default, it will produce secondary versions of a button. If you need a primary version, add the `m-primary` class to the mixin.          
  pre.code
    include:prismjs(language="pug") ./sample.pug    
  pre.code  
    include:pug ./sample.pug    
  .preview
    include ./sample.pug

