extends ../component

block body
  :markdown
    Buttons come in a couple of different flavors. The `m-button-*` mixins allow you to create buttons based on HTML `button` elements (`+m-button`), buttons based on HTML anchor tags (`+m-button-a`), and buttons based on HTML `input` elements (`+m-button-input`).
  include:prismjs(language="pug") ./sample-basic.pug    
  viewer
    include ./sample-basic.pug
  :markdown
    If you need buttons for a specific purpose, then there are modifier classes for those specific situations. Again, all these modifier classes have a `m-*` prefix.
  include:prismjs(language="pug") ./sample-extra.pug
  viewer
    include ./sample-extra.pug    


