mixin m-button-alike(el)    
  - 
    const attrs = phuket.wrap(attributes);
    attrs.addClass('button');
    const replaced = Object.entries({
      'm-primary': 'is-primary',
      'm-danger': 'is-danger',
      'm-warning': 'is-warning',
      'm-info': 'is-info',
      'm-success': 'is-success'
    }).some(function(entry) {
      const [orig, replacement] = entry;
      if (attrs.hasClass(orig)) {
        attrs.removeClass(orig);
        attrs.addClass(replacement);
        return true;
      } else {
        return false;
      }
    });
  #{el}&attributes(attributes): block
    

mixin m-button
  +m-button-alike('button')&attributes(attributes): block
    
    
mixin m-button-a
  +m-button-alike('a')(href="#" role="button")&attributes(attributes): block

mixin m-button-input
  +m-button-alike('input')&attributes(attributes): block