mixin m-button-alike(el)    
  - 
    const attrs = mixxr.wrap(attributes);
    attrs.addClass('btn');
    const replaced = Object.entries({
      'm-primary': 'btn-primary',
      'm-danger': 'btn-danger',
      'm-warning': 'btn-warning',
      'm-info': 'btn-info',
      'm-success': 'btn-success'
    }).some(function(entry) {
      const [orig, replacement] = entry;
      if (attrs.hasClass(orig)) {
        attrs.removeClass(orig);
        attrs.addClass(replacement);
        return true;
      } else {
        return false;
      }
    });
    if (!replaced) {
      attrs.addClass('btn-secondary');
    }    
  #{el}&attributes(attributes): block
    

mixin m-button
  +m-button-alike('button')&attributes(attributes): block
    
    
mixin m-button-a
  +m-button-alike('a')(href="#" role="button")&attributes(attributes): block

mixin m-button-input
  +m-button-alike('input')&attributes(attributes): block